*{
    margin: 2%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/2560px-Star_Wars_Logo.svg.png);
    background-position: 90% ; /*esto determina que tan a la izquierda comenzará*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:#000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
main{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: #000000 solid;
}

h1{
    color:rgb(233, 16, 27);
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
}

#tarjeta{
    box-shadow: 0px 0px  10px black;
    background-color:beige;
    opacity: 90%;
    width: 300px;
   
}

img{
    width: 100%;
}